h1 {
    color: #007b96;
}

h2 {
    color: #007b96;
}

/*#b6b9ba */
body{
    font-family: "Helvetica",sans-serif;
    font-size: 16pt;
    color:  #007b96;
    background: #d8dce3;
    text-align: justify;
}

#heading{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica",sans-serif;
  background: #d8dce3;
  text-align: left;
}

#content {
    width: 75%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


ul.tablist li{
  width: auto;
  float: left;
  list-style-type: none;
  font-family: "Helvetica",sans-serif;
  font-size: 14pt;
  color: #007b96;
  padding-left: 0;
}

 /* unvisited link */
a:link {
  color: #007b96;
}

/* visited link */
a:visited {
  color: #007b96;
}

/* mouse over link */
a:hover {
  color: #91056a;
}


a:link{
  text-decoration: none
}
